cffi @ file:///private/tmp/cffi-20231014-5454-1xfyd4s/cffi-1.16.0
docutils @ file:///private/tmp/docutils-20231123-5172-atdz13/docutils-0.20.1
numpy==1.26.4
packaging==23.2
pycparser @ file:///private/tmp/pycparser-20231013-5559-1dtd22y/pycparser-2.21
PyYAML==6.0.1
six==1.16.0
sniffio==1.3.1
tenacity==8.2.3
typing_extensions==4.10.0
urllib3==2.2.1
